/* Outfit Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Bebas Neue Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  ::selection {
    color: #90f4ff;
    background: #01222b;
  }
}

/* For devices having height<800px */
@media screen and (max-height:800px) {
  * {
    font-size: 80%;
  }

  a {
    font-size: 100%;
  }

  ul {
    font-size: 120%;
  }

  div {
    font-size: 120%;
  }

  ::placeholder {
    font-size: 100%;
  }

  input {
    font-size: 180%;
  }

  textarea {
    font-size: 180%;
  }

}

/* Nav Hover */
@layer utilities {
	ul li {
		@apply relative tracking-[0px];
	}
	ul li::after {
		@apply content-[''] bg-highlight-blue h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-500;
	}
	ul li:hover::after {
		@apply w-[100%];
	}
}